body {
    background-color: blueviolet;
}

div{
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    font-family: YuGothic, serif;
}

p {
    font-size: 12em;
}

button {
    width: 50%;
    height: 331px;
    font-size: 10em;
    font-family: YuGothic, serif;
    color: aqua;
    text-align: center;
    background-color: brown;
}