body {
    background-color: blueviolet;
}

div{
    margin-top: 35px;
    text-align: center;
    color: aliceblue;
    font-family: "Apple LiGothic";
}

p {
    font-size: 15em;
}

button {
    width: 50%;
    height: 500px;
    font-size: 18em;
    font-family: "Apple LiGothic";
    color: aqua;
    text-align: center;
    background-color: brown;
}